@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.background-picture {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/ChefMeUp-img023.jpg);
    background-position: center;
    background-size: cover;
}

.bodyRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.card {
    width: 300px;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.21);
    margin: auto;
    text-align: center;
}

.names {
    color: #00ffc4;
    font-size: 25px;
    font-weight: 400;
}

.title {
    color: rgba(0, 255, 196, 0.6);
    font-size: 18px;
    font-weight: 300;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.home-btn {
    margin-top: 10px;
    background-color: #ffffff;
    height: 50px;
    width: 250px;
}

.home-btn input{
    height: 100%;
    width: 100%;
    /*border-radius: 1px;*/
    border: none;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgba(200, 248, 55, 0.72), rgba(82, 229, 168, 0.76));

}
.home-btn input:hover{
    background: linear-gradient(-135deg, rgba(200, 248, 55, 0.58), rgba(82, 229, 168, 0.53));
}

/*   section   */
.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
    width: 100%;
}
.title-section{
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    position: relative;
    background-color: rgba(1, 1, 1, 0);
    font-weight: 100;
}
.summary-section{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
    font-weight: 300;
    background-color: rgba(1, 1, 1, 0);
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
}
