.container {
    max-width: 1000px;
    height: 36vh;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}
.left-column {
    width: 50%;
    position: relative;
}

.right-column {
    width: 50%;
}
/* Left Column */
.left-column img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}
/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    margin-left: 20px;
}
.product-description span {
    font-size: 12px;
    color: #35d786;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1 {
    font-weight: 300;
    font-size: 40px;
    color: #213d32;
    letter-spacing: -2px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #6e9f86;
    line-height: 24px;
}
/* Product Price */
.product-price {
    display: flex;
    align-items: center;
    margin-top: 11%;
    width: 100%;
    justify-content: end;
}

.product-price span {
    font-size: 20px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #00ff9b;
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .5s;
}
.cart-btn:hover {
    background-color: #ddff00;
}