.navigation-bar-course{
    color: #ffffff;
    height: 42vh;
    position: relative;
    width: 100%;
}
.image-title{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30vh;
    overflow:hidden;
}
.image-title img{
    margin-top: -12%;
    min-height:1000px;
    min-width:100%;
    background-position: center;
    background-size: cover;
}
.image-overlay{
    top: 0;
    width: 100%;
    height: 30vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.51);
}
.course-intro{
    background-position: center;
    background-size: cover;
    height: 30vh;
    position: relative;
    width: 100%;
}
.video {
    width: 920px;
    height: 520px;
    margin: 0 auto;
    display: block;
}

.lectures-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 60px;
    color: #04d584;
    font-weight: bold;
    border-bottom: solid 3px #07ce78;
}
.download-btn {
    display: inline-block;
    background-color: #00ff9b;
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .5s;
    margin-top: 1%;
    margin-bottom: 1%;
}
.download-btn:hover {
    background-color: #ddff00;
}

.enroll button {
    display: inline-block;
    font-size: 1em;
    background: #00ff9d;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.enroll button:hover {
    letter-spacing: 6px;
}