* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;

}

.fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
}

.navigation-bar{
    color:#fff;
    height: 100vh;
    position: relative;
    width: 100%;
}
.navigation-bar-overlay{
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.51);
}
.navigation-bar-content {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 35px auto;
}
.logo{
    flex-basis: 15%;
}
.logo img{
    color: white;
    width: 180px;
    cursor: pointer;
}
.navigation-links{
    align-items: center;
    flex: 1;
    text-align: right;
}
.navigation-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigation-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
}
.navigation-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #00ffc4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation-links li:hover::after {
    width: 100%;
}
.navigation-bar-text{
    padding-top: 450px;
    padding-left: 100px;
}
.navigation-bar-text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.navigation-bar-text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.navigation-bar-text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.navigation-bar-text a {
    display: inline-block;
    font-size: 1em;
    background: #00ff9d;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.navigation-bar-text a:hover {
    letter-spacing: 6px;
}
.section{
    padding: 20px 0;
}
.courses {
    z-index:200000;
    padding:200px 0;
    width: 80%;
    margin: auto;
    text-align: center;
}

.logged_user{
    margin-left: -60px;
}
.logged_user h3 {
    color: #f89e04;
    font-size: 14px;
    margin-bottom: -5px;
    text-align: center;
}

.logged_user a {
    margin-top: 1px;
    color: #22b65a;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.logged_user input {
    color: #f89e04;
    font-weight: bold;
    padding: 0 5px 0 5px;
    border: solid 1px #d7d7d7;
    font-size: 13px;
    background: transparent;
    text-align: center;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 8px;
}

.logged_user h4 {
    text-align: center;
    color: white;
    font-size: 12px;
}
