/* nav bar */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.navigation-bar{
    color: #ffffff;
    height: 100vh;
    position: relative;
    width: 100%;
}
.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/new-course.jpg);
    background-position: center;
    background-size: cover;
    height: 15vh;
    position: relative;
    width: 100%;
}
.title{
    padding-top: 30px;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    position: relative;
    background-color: rgba(1, 1, 1, 0);
    font-weight: 200;
}
.summary{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
    font-weight: 400;
    background-color: rgba(1, 1, 1, 0);
    position: relative;
    margin-left: 600px;
    margin-right: 600px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

/* users table */
/*-------- Table --------*/
.container {
}

.table {
    width: 80%;
    display: table;
    text-align: center;
    margin-left: 10%;
    margin-top: 1.5%;
}

.table a {
    text-decoration: none;
}

.table-header {
    background: #28ff7a;
}

.rowGroup {
    display: table-row;
}

.cell {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #48fd7a;
}

.cell img {
    vertical-align: middle;
}

.cell-title{
    display: table-cell;
    font-size: 20px;
    font-weight: bold;
    color: #232323;
    padding: 5px;
    border-bottom: 2px solid #48fd7a;
    border-top: 2px solid #48fd7a;
    text-decoration: none;
}

.cell a {
    color: black;
    text-decoration: none;
}

.cell:hover {
    background: rgba(247, 255, 2, 0.2);
    border-radius: 15px;
}

.table-header {
    display: table-header-group;
    font-weight: bold;
    color: white;
}