.navigation-bar-course{
    color: #ffffff;
    height: 42vh;
    position: relative;
    width: 100%;
}
.image-title{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30vh;
    overflow:hidden;
}
.image-title img{
    margin-top: -12%;
    min-height:1000px;
    min-width:100%;
    background-position: center;
    background-size: cover;
}
.image-overlay{
    top: 0;
    width: 100%;
    height: 30vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.51);
}
.course-intro{
    background-position: center;
    background-size: cover;
    height: 30vh;
    position: relative;
    width: 100%;
}
.video {
    width: 920px;
    height: 520px;
    margin: 0 auto;
    display: block;
}
.download-btn {
    display: inline-block;
    font-size: 1em;
    background: #00ff9d;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.download-btn:hover {
    letter-spacing: 6px;
}
.upload-btn {
    display: inline-block;
    font-size: 1em;
    background: #00ff9d;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    border: none;
}
.upload-btn:hover {
    letter-spacing: 6px;
}
.upload-box {
    font-size: 14px;
    background: white;
    border-radius: 50px;
    box-shadow: 1px 1px black;
    width: 350px;
    outline: none;
}
::-webkit-file-upload-button {
    color: #000000;
    background: #b7ff00;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px #000000;
    outline: none;
}
::-webkit-file-upload-button:hover{
    background: #eef600;
}

.enroll button {
    display: inline-block;
    font-size: 1em;
    background: #00ff9d;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.enroll button:hover {
    letter-spacing: 6px;
}