
.navigation-bar-content {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0px auto;
}
.logo{
    flex-basis: 15%;
}
.logo img{
    color: white;
    width: 90px;
    cursor: pointer;
}
.navigation-links{
    align-items: center;
    flex: 1;
    text-align: right;

}
.navigation-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.navigation-links ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 21px;
}
.navigation-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #00ffc4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation-links li:hover::after {
    width: 100%;
}
.logged_user{
    margin-left: -130px;
}
.logged_user h3 {
    color: #f89e04;
    font-size: 14px;
    margin-bottom: -5px;
    text-align: center;
}

.logged_user a {
    margin-top: 1px;
    color: #22b65a;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.logged_user input {
    color: #f89e04;
    font-weight: bold;
    padding: 0 5px 0 5px;
    border: solid 1px #d0d0d0;
    font-size: 13px;
    background: transparent;
    text-align: center;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 8px;
}

.logged_user h4 {
    text-align: center;
    color: white;
    font-size: 12px;
}
