* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navigation-bar{
    color: #ffffff;
    height: 100vh;
    position: relative;
    width: 100%;
}
/*   section   */
.background-not-found-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/ChefMeUp-img039.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.intro{
    height: 50vh;
    position: relative;
    width: 100%;
    background-color: transparent;
}
.title{
    padding-top: 130px;
    text-align: center;
    font-size: 75px;
    color: #ffffff;
    /*color: #00ff9d;*/
    position: relative;
    font-weight: 200;
    background-color: transparent;
}

.text-color-chefmeup {
    color: #00ff9b;
}

.text-medium{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    align-items: center;
    font-weight: 300;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
    background-color: transparent;
}

.text-small{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
    font-weight: 300;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
    background-color: transparent;
}

.bodyRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    background-color: transparent;
}

.home-btn {
    margin-top: 10px;
    background-color: #ffffff;
    height: 50px;
    width: 250px;
}

.home-btn input{
    height: 100%;
    width: 100%;
    border: none;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgba(200, 248, 55, 0.72), rgba(82, 229, 168, 0.76));

}
.home-btn input:hover{
    background: linear-gradient(-135deg, rgba(200, 248, 55, 0.58), rgba(82, 229, 168, 0.53));
}
