.nav-bar{
    color: #ffffff;
    height: 10vh;
    position: relative;
    width: 100%;
}
.create-box{
    text-align: center;
    color: #00b975;
    font-size: 18px;
}
.create-box input{
    background-color: rgba(238, 255, 0, 0.07);
    margin-top: 10px;
    text-align: center;
    width: 30%;
}
.create-box textarea{
    background-color: rgba(238, 255, 0, 0.07);
    margin-top: 10px;
    text-align: center;
    width: 30%;
    vertical-align: middle;
}
.description-box{
    height: 200px;
}
.upload-pic{
    display: inline-block;
}
.upload-box {
    font-size: 14px;
    background: white;
    border-radius: 50px;
    box-shadow: 1px 1px black;
    width: 350px;
    outline: none;
}
::-webkit-file-upload-button {
    color: #000000;
    background: #b7ff00;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px #000000;
    outline: none;
}
::-webkit-file-upload-button:hover{
    background: #eef600;
}
.image-background{
    background-position: center;
    background-size: cover;
    height: 15vh;
    position: relative;
    width: 100%;
}

.image-title{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:15vh;
    overflow:hidden;
}

.image-overlay{
    top: 0;
    width: 100%;
    height: 15vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.51);
}
.errors {
    color: red;
}