* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.navigation-bar{
    color: #ffffff;
    height: 60vh;
    position: relative;
    width: 100%;
}


/*   section   */
.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 48vh;
    position: relative;
    width: 100%;
}
.title{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    position: relative;
    background-color: rgba(1, 1, 1, 0);
    font-weight: 100;
}
.summary{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
    font-weight: 400;
    background-color: rgba(1, 1, 1, 0);
    position: relative;
    margin-left: 430px;
    margin-right: 430px;
}

/*     info        */

.info {
    width: 80%;
    margin: auto;
    text-align: center;
}
.row {
    margin-top: 2%;
    display: flex;
}

.info-col {
    height: 30vh;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.info-col img {
    width: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer h2{
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(1, 89, 46, 0.71);
}

.layer:hover {
    background: rgba(41, 210, 151, 0.7);
}

/*   courses    */
