
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 13px;
    color: #111111
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.cart-btn {
    width: 180px;
    display: inline-block;
    background-color: #00ff9b;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .5s;
    border: none;
}
.cart-btn:hover {
    background-color: #ddff00;
}

.text-color-black {
    color: #111111;
}

.text-color-black-small {
    color: rgba(35, 35, 35, 0.5);
    font-size: 14px;
}

.choose::-webkit-file-upload-button {
    color: #232323;
    background-color: #00ff9b;
    border: none;
    width: 120px;
    padding: 5px 15px;
    margin-left: 10px;
    font-weight: 500;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
}

.select-btn {
    -webkit-padding-start: 10px;
    width: 60px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    color: #545454;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-btn-big {
    -webkit-padding-start: 10px;
    width: 290px;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    color: #545454;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-btn option {
    background: rgb(117, 230, 113);
    color: #fff;
}

option:not(:checked) {
    background-color: rgb(157, 157, 157);
}

.text-errors {
    color: #e7582e;
    font-size: 12px;
}

.change-pass-btn {
    width: 280px;
    display: inline-block;
    background-color: #00ff9b;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .5s;
    border: none;
}
.change-pass-btn:hover {
    background-color: #ddff00;
}

.margin-top-small {
    margin-top: 35px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.navigation-bar{
    color: #ffffff;
    height: 100vh;
    position: relative;
    width: 100%;
}

.navigation-bar-content {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0px auto;
}
.logo{
    flex-basis: 15%;
}
.logo img{
    color: white;
    width: 90px;
    cursor: pointer;
}
.navigation-links{
    align-items: center;
    flex: 1;
    text-align: right;

}
.navigation-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.navigation-links ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
}
.navigation-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #00ffc4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation-links li:hover::after {
    width: 100%;
}

/*   section   */
.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/ChefMeUp-img046.jpg);
    background-position: center;
    background-size: cover;
    height: 35vh;
    position: relative;
    width: 100%;
}
.title{
    padding-top: 130px;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    position: relative;
    background-color: rgba(1, 1, 1, 0);
    font-weight: 200;
}
.summary{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
    font-weight: 400;
    background-color: rgba(1, 1, 1, 0);
    position: relative;
    margin-left: 600px;
    margin-right: 600px;
}
