/* nav bar */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.navigation-bar{
    color: #ffffff;
    height: 100vh;
    position: relative;
    width: 100%;
}

.navigation-bar-content {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0px auto;
}
.logo{
    flex-basis: 15%;
}
.logo img{
    color: white;
    width: 90px;
    cursor: pointer;
}
.navigation-links{
    align-items: center;
    flex: 1;
    text-align: right;

}
.navigation-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.navigation-links ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
}
.navigation-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #00ffc4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation-links li:hover::after {
    width: 100%;
}

/*   section   */
.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 15vh;
    position: relative;
    width: 100%;
}
.title{
    padding-top: 30px;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    position: relative;
    background-color: rgba(1, 1, 1, 0);
    font-weight: 200;
}
.summary{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    align-items: center;
    font-weight: 400;
    background-color: rgba(1, 1, 1, 0);
    position: relative;
    margin-left: 600px;
    margin-right: 600px;
}

.cart-btn {
    display: inline-block;
    background-color: #00ff9b;
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    transition: all .5s;
    padding: 0 5px 0 5px;
    border: none;
    width: 120px;
    margin: 3px;
}
.cart-btn:hover {
    background-color: #ddff00;
}

.btn-background-color {
    background-color: rgb(248, 158, 103)
}

.search-bar {
    text-align: center;
    margin-top: 10px;
}

.search-bar input {
    border: 1px solid;
    height: 22px;
    width: 180px;
    text-align: center;
}

.cell-btn {
    border-bottom: none !important;
    width: 130px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

/* users table */
/*-------- Table --------*/
.container {
}

.table {
    width: 80%;
    display: table;
    text-align: center;
    margin-left: 10%;
    margin-top: 1.5%;
}

.table a {
    text-decoration: none;
}

.table-header {
    background: #28ff7a;
}

.rowGroup {
    display: table-row;
}

.cell {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #48fd7a;
}

.cell img {
    vertical-align: middle;
}

.cell-title{
    display: table-cell;
    font-size: 20px;
    font-weight: bold;
    color: #232323;
    padding: 5px;
    border-bottom: 2px solid #48fd7a;
    border-top: 2px solid #48fd7a;
    text-decoration: none;
}

.cell a {
    color: black;
    text-decoration: none;
}

.cell:hover {
    background: rgba(247, 255, 2, 0.2);
    border-radius: 15px;
}

.table-header {
    display: table-header-group;
    font-weight: bold;
    color: white;
}