@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.bodyRegister{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(images/ChefMeUp-img011.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(200, 248, 55), rgb(117, 230, 113));
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #75e671;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #232323;
    border-color: #d9d9d9;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 50px;
    margin-top: 40px;
}
form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgba(200, 248, 55, 0.72), rgba(82, 229, 168, 0.76));

}
form .button input:hover{
    background: linear-gradient(-135deg, rgba(200, 248, 55, 0.58), rgba(82, 229, 168, 0.53));

}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .category{
        width: 100%;
    }
    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}
@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}

.select-btn {
    -webkit-padding-start: 10px;
    width: 300px;
    border: 2px solid #AAA;
    border-radius: 5px;
    color: #727272;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-btn option {
    background: rgb(117, 230, 113);
    color: #fff;
}

option:not(:checked) {
    background-color: rgb(157, 157, 157);
}

form .user-details .input-box-upload {
    margin-bottom: 15px;
    margin-top: 30px;
    width: calc(100% - 20px);
}

form .input-box-upload span.details{
    font-weight: 500;
}

.choose::-webkit-file-upload-button {
    color: #232323;
    display: inline-block;
    background: linear-gradient(-135deg, rgba(200, 248, 55, 0.58), rgba(82, 229, 168, 0.53));
    border: none;
    width: 160px;
    padding: 7px 15px;
    margin-left: 10px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
}

.nav-bar{
    color: #ffffff;
    background-color: white;
    height: 10vh;
    position: absolute;
    width: 100%;
}

.navigation-bar-content {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0px auto;
}
.logo{
    flex-basis: 15%;
}
.logo img{
    color: white;
    width: 90px;
    cursor: pointer;
}
.navigation-links{
    align-items: center;
    flex: 1;
    text-align: right;

}
.navigation-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.navigation-links ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
}
.navigation-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #00ffc4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation-links li:hover::after {
    width: 100%;
}

.upload-picture {
    width: 300px;
    margin-left: 20px;
}

.text-errors {
    color: #e7582e;
}
