<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/assignments.css" th:href="@{/assignments.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <div class="intro">
        <h2 class="title">Assignments to be graded</h2>
    </div>
    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="cell-title"> Course</div>
                <div class="cell-title"> Lecture</div>
                <div class="cell-title"> Student</div>
                <div class="cell-title"> Assignment</div>
                <div class="cell-title"> Grade</div>
            </div>
            <div class="rowGroup" th:each="assignment : ${assignments}">
                <div class="cell" th:text="${assignment.lecture.course.title}"> 1</div>
                <div class="cell" th:text="${assignment.lecture.title}"> 1</div>
                <div class="cell" th:text="${assignment.student.firstName} + ' ' + ${assignment.student.lastName}"> 1
                </div>
                <div class="cell"><a th:href="@{|/lectures/${assignment.lecture.id}/student/${assignment.student.id}/assignment|}">download</a>
                </div>
                <div class="cell">
                    <form method="post"
                          th:action="@{/lectures/students/assignments/{assignmentId}/grade(assignmentId=${assignment.id})}">
                        <div style="text-align: center; border: 1px red;outline: none">
                            <input style="width: 60px;border:1px solid #bfffcc;vertical-align: middle;text-align: center"
                                   type="number"
                                   th:field="*{gradeAssignment.grade}">
                            <button type="submit" class="upload-btn"
                                    style="border: 1px solid #48fd7a;background: #48fd7a;vertical-align: middle;width: 50px;cursor: pointer">
                                rate
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</header>

</body>
</html>