<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/contact.css" th:href="@{/contact.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<header>
    <!--    <div th:replace="index.html :: nav-bar"></div>-->
</header>

<div class="background-picture">

    <div>
        <h1 class="title-section">About Us</h1>
        <h1 class="summary-section">We are <p style="color: #00ffc4; font-size: 26px"> Team 4 </p>
            A team that enjoys learning, collaboration and creativity.<br>
            We strongly believe as Steve Jobs has said, that <br>
            <p style="color: #00ffc4">"Great things in business are never done by one person. They are done by a team of people."</p> </h1>
    </div>

    <div class="bodyRegister">
        <div class="card">
            <img src="../static/images/cupcake.jpg"
                 th:src="@{/media/userpictures/dimitar.bonchev@chefmeup.com-ProfilePic.png}" alt="Dimitar"
                 style="width:100%">
            <h1 class="names">Dimitar Bonchev</h1>
            <p class="title">Team 4</p>
            <p class="title">Co-Founder</p>
            <br>
            <p class="title">Telerik Academy</p>
            <br>
<!--            <a href="#"><i class="fa fa-dribbble"></i></a>-->
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <!--            <p>
                            <button>Contact</button>
                        </p>-->
        </div>

        <div class="card">
            <img src="../static/images/denied.png" th:src="@{/media/userpictures/dimo.sotirov@chefmeup.com-ProfilePic.png}" alt="Dimo"
                 style="width:100%">
            <h1 class="names">Dimo Sotirov</h1>
            <p class="title">Team 4 </p>
            <p class="title">Co-Founder</p>
            <br>
            <p class="title">Telerik Academy</p>
            <br>
<!--            <a href="#"><i class="fa fa-dribbble"></i></a>-->
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <!--            <p>
                            <button>Contact</button>
                        </p>-->
        </div>

    </div>

    <form th:action="@{/}">
        <div class="bodyRegister">
            <div class="home-btn">
                <input href="#" type="submit" value="Go Back Home"> </input>
            </div>
        </div>
    </form>

</div>

</body>
</html>