<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/secondary.css" th:href="@{/secondary.css}" rel="stylesheet"/>
    <link href="../static/courses.css" th:href="@{/courses.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <section class="intro">
        <h1 class="title">Courses</h1>
        <h1 class="summary">Cooking is one of the most powerful ways in which we can optimize our enjoyment of great
            quality food while protecting our health. Even on a tight budget, cooking can be a cost-effective, joyful
            and rewarding way to love the food that will love us back for a lifetime. <br/> <br/>
            In our courses, you’ll learn some basic recipes from our professional chefs who prioritize healthful eating.
        </h1>
    </section>
</header>
<!--SEARCH-->
<div style="text-align: center">
    <form method="post" th:action="@{/courses/search}" th:object="${courseSearchDto}">
        <input style="text-align: center;border: 1px solid;" type="text" placeholder="Search by title"
               th:field="*{title}">
        <input style="text-align: center;border: 1px solid;" type="text" placeholder="Search by chef"
               th:field="*{creator}">
        <select style="text-align: center" th:field="*{topic}">
            <option selected value="">Topic</option>
            <option th:each="topic:${topics}" th:value="${topic.id}" th:text="${topic.name}">Topic</option>
        </select>
        <select style="text-align: center" th:field="*{sort}">
            <option value="id asc">Order by</option>
            <option value="title asc">Title asc</option>
            <option value="title desc">Title desc</option>
        </select>
        <button type="submit" class="cart-btn" style="padding: 0 5px 0 5px;border: none;">Search</button>
    </form>
</div>
<!--COURSE-->
<div class="container" th:each="course : ${courses}">
    <div class="left-column"><img data-image="black" src="../static/images/cupcake.jpg"
                                  th:src="@{/media/coursebackgrounds/{pic}(pic=${course.getPicture()})}" alt="">
    </div>
    <div class="right-column">
        <div class="product-description">
            <span th:text="${course.getTopic().getName()}">Deserts</span>
            <h1 th:text="${course.getTitle()}">Cupcakes</h1>
            <p th:text="${course.getDescription()}">The preferred choice of a vast range of acclaimed DJs. Punchy,
                bass-focused sound and high isolation.
                Sturdy headband and on-ear cushions suitable for live performance</p><br>
            <p th:unless="${course.getStartingDate()}==null"
               th:text="'Start: ' + ${course.getStartingDate().toString()} + ' / End: ' + ${course.getExpireDate()} "></p>
            <span style="font-size: 16px;font-weight: bold" th:text="${courseRatings[__${course.id}__]}"></span>
        </div>
        <!--        <div>-->
        <!--            <span th:text="${courseRatings[__${course.id}__]}"></span>-->
        <!--        </div>-->
        <div class="product-price">
            <span th:text="'chef ' + ${course.getCreator().getFirstName()} + ' ' + ${course.getCreator().getLastName()}">148$</span>
            <a th:href="@{/courses/{id}(id=${course.getId()})}" href="#" class="cart-btn">Cook it!</a>
        </div>
    </div>
</div>

</body>

</html>