<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/secondary.css" th:href="@{/secondary.css}" rel="stylesheet"/>
    <link href="../static/courses.css" th:href="@{/courses.css}" rel="stylesheet"/>
    <link href="../static/course.css" th:href="@{/course.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link href="../static/rating.css" th:href="@{/rating.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <script>
        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });
    </script>
</head>

<body>

<header class="navigation-bar-course">
    <div th:replace="index.html :: nav-bar"></div>
    <section class="course-intro">
        <div class="image-title">
            <img data-image="black" src="../static/images/cupcake.jpg"
                 th:src="@{/media/coursebackgrounds/{pic}(pic=${course.getPicture()})}" alt="" width="500" height="500">
        </div>
        <div class="image-overlay"></div>
        <h1 class="title" th:text="${course.getTitle()}">Courses</h1>
        <h1 class="summary" th:text="${course.getDescription()}">Lorem Ipsnknk. It has survived not only five centuries,
            but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.</h1>
    </section>
</header>
<!--VIDEO-->
<iframe class="video" th:src="${course.getVideo()}" src="https://www.youtube.com/embed/t4vKPhjcMZg"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
<!--LECTURES-->
<div sec:authorize="!anonymous" th:if="${isUserEnrolled} and !${isCourseStarted}">
<h1 class="title" style="color: #111111"> Lectures will be available after the start of the course. </h1></div>
<div sec:authorize="!anonymous" th:if="${isUserEnrolled} and ${isCourseStarted}">
    <h1 class="lectures-title">Lectures</h1>
    <div class="container" th:each="lecture : ${courseLectures}">
        <div class="left-column">
            <img data-image="black" src="../static/images/cupcake.jpg"
                 th:src="@{/media/lecturebackground/{pic}(pic=${lecture.getPicture()})}" alt="" width="500"
                 height="500">
        </div>
        <div class="right-column">
            <div class="product-description">
                <a th:href="@{/lectures/{id}(id=${lecture.getId()})}" style="text-decoration: none"><h1 th:text="${lecture.getTitle()}">Cupcakes</h1>
                </a>
                <p th:text="${lecture.getDescription()}">The preferred choice of a vast range of acclaimed DJs. Punchy,
                    bass-focused sound and high isolation.
                    Sturdy headband and on-ear cushions suitable for live performance</p>
            </div>
        </div>
    </div>
    <div th:unless="${isRated}" style="text-align: center;color: #111111">
        <form method="post" th:action="@{/courses/{courseId}/rate(courseId=${course.getId()})}" th:object="${rating}">
            <div th:replace="rating.html :: rating"></div>
            <div style="text-align: center">
                <button type="submit" class="upload-btn"
                        style="border: 1px solid #48fd7a;background: #48fd7a;vertical-align: middle;width: 50px;">rate
                </button>
            </div>
        </form>
    </div>
</div>
<form sec:authorize="!anonymous" th:unless="${isUserEnrolled}" th:action="@{|/courses/${course.getId()}/enroll|}"
      method="post">
    <div style="text-align: center;margin-top: 30px;margin-bottom: 30px;" class="enroll">
        <button type="submit" class="upload-btn">ENROLL</button>
    </div>
</form>
</body>

</html>