<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/course-dashboard.css" th:href="@{/course-dashboard.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <div class="intro">
        <h2 class="title">Course dashboard</h2>
    </div>
    <div style="text-align: center">
        <form method="post" th:action="@{/courses/dashboard/search}" th:object="${courseSearchDto}">
            <input style="text-align: center;border: 1px solid;" type="text" placeholder="Search by title" th:field="*{title}">
            <select style="text-align: center" th:field="*{topic}">
                <option selected value="">Topic</option>
                <option th:each="topic:${topics}" th:value="${topic.id}" th:text="${topic.name}">Topic</option>
            </select>
            <select style="text-align: center" th:field="*{status}">
                <option selected value="">Status</option>
                <option th:value="true" th:text="Online">Online</option>
                <option th:value="false" th:text="Draft">Draft</option>
            </select>
            <select style="text-align: center" th:field="*{sort}">
                <option value="id asc">Order by</option>
                <option value="title asc">Title asc</option>
                <option value="title desc">Title desc</option>
                <option value="startingDate asc">Starting date asc</option>
                <option value="startingDate desc">Starting date desc</option>
                <option value="expireDate asc">Expire date asc</option>
                <option value="expireDate desc">Expire date desc</option>
            </select>
            <button style="border: 1px solid #48fd7a;background: #48fd7a;vertical-align: middle;width: 50px;cursor: pointer"
                    type="submit">Search
            </button>
        </form>
    </div>
    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="cell-title"> Course</div>
                <div class="cell-title"> Starting date</div>
                <div class="cell-title"> Expire date</div>
                <div class="cell-title"> Status</div>
                <div class="cell-title"> Modify</div>
            </div>
            <div class="rowGroup" th:each="course : ${courses}">
                <div class="cell"><a th:text="${course.title}" th:href="@{|/courses/${course.id}|}">Update</a></div>
                <div class="cell" th:text="${course.startingDate}"> 1</div>
                <div class="cell" th:text="${course.expireDate}"> 1</div>
                <div class="cell" th:if="${course.visible}" th:text="Online" style="color: #00ab55;"> 1</div>
                <div class="cell" th:unless="${course.visible}" th:text="Draft" style="color: darkorange;"> 1</div>
                <div class="cell"><a th:unless="${course.visible}"
                                     th:href="@{|/courses/${course.id}/update|}">Update</a></div>
            </div>
        </div>
    </div>
</header>

</body>
</html>