<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link href="../static/course-form-test.css" th:href="@{/course-form-test.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<header th:fragment="nav-bar" class="nav-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <div th:fragment="course-form">
        <div class="bodyRegister">
            <div class="container">
                <div class="title">Course</div>
                <div class="content">
                    <form th:fragment="course-for" th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${course}" method="post" enctype="multipart/form-data">
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Course title</span>
                                <input type="text" th:field="*{title}" placeholder="Enter course title">
                                <label class="text-errors" th:errors="*{title}"></label>
                            </div>
                            <div class="input-box">
                                <span class="details">Course topic</span>
                                <select class="select-btn" th:field="*{topicId}">
                                    <option th:each="topic : ${topics}"
                                            th:value="${topic.getId()}"
                                            th:text="${topic.getName()}">1
                                    </option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">Course intro video</span>
                                <input type="text" th:field="*{video}" placeholder="Enter youtube url">
                                <label class="text-errors" th:errors="*{video}"></label>
                            </div>
                            <div class="input-box">
                                <span class="details">Course starting date</span>
                                <input type="date" th:field="*{startingDate}">
                                <label class="text-errors" th:errors="*{startingDate}"></label>
                            </div>
                            <!--                            <div class="input-box">-->
                            <!--                                <span class="details">Course max students</span>-->
                            <!--                                <input type="number" th:field="*{maxStudents}">-->
                            <!--                                <label class="text-errors" th:errors="*{maxStudents}"></label>-->
                            <!--                            </div>-->
                            <div class="input-box">
                                <span class="details">Course description</span>
                                <textarea type="text" th:field="*{description}"
                                          placeholder="Enter course description"></textarea>
                                <label class="text-errors" th:errors="*{description}"></label>
                            </div>
                            <div class="input-box">
                                <span class="details">Course expire date</span>
                                <input type="date" th:field="*{expireDate}">
                                <label class="text-errors" th:errors="*{expireDate}"></label>
                            </div>
                            <div class="input-box-upload">
                                <span class="details">Upload course background picture:</span>
                                <input multiple class="choose" type="file" name="file">
                                <label class="errors" th:errors="*{picture}"></label>
                            </div>
                            <!--                            <div class="input-box">-->
                            <!--                                <span class="details">Course description</span>-->
                            <!--                                <textarea type="text" th:field="*{description}"-->
                            <!--                                          placeholder="Enter course description"></textarea>-->
                            <!--                                <label class="text-errors" th:errors="*{description}"></label>-->
                            <!--                            </div>-->
                            <div class="input-box">
                                <!--                                <span class="details">Course price</span>-->
                                <!--                                <input type="text" th:field="*{price}">-->
                                <!--                                <label class="text-errors" th:errors="*{price}"></label>-->

                                <span class="details">Ready to upload online?</span>
                                <select class="select-btn" th:field="*{visible}">
                                    <option th:value="false">No, still not ready</option>
                                    <option th:value="true">Ok, its ready</option>
                                </select>
                                <label class="errors" th:errors="*{visible}"></label>

                                <!--                                <div class="button">-->
                                <!--                                    <input type="submit" value="Cook!">-->
                                <!--                                </div>-->
                            </div>
                            <div class="button" style="width: 300px">
                                <input type="submit" value="Cook!">
                            </div>
                            <br>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


</body>

</html>