<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/secondary.css" th:href="@{/secondary.css}" rel="stylesheet"/>
    <link href="../static/courses.css" th:href="@{/courses.css}" rel="stylesheet"/>
    <link href="../static/course.css" th:href="@{/course.css}" rel="stylesheet"/>
    <link href="../static/optimize.css" th:href="@{/optimize.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<header th:fragment="nav-bar" class="nav-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <section class="image-background">
        <div class="image-title">
            <img th:src="@{/images/new-course.jpg}" src="../static/images/new-course.jpg">
        </div>
        <div class="image-overlay"></div>
        <h1 class="title">Create a new course</h1>
    </section>
    <br>
    <form th:fragment="course-form" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${course}" method="post" enctype="multipart/form-data">
        <div class="create-box">
            <label>Course Title</label><br>
            <input type="text" th:field="*{title}"><br>
            <label class="errors" th:errors="*{title}"></label>
            <br>
            <br>
            <label>Course Topic</label><br>
            <select th:field="*{topicId}">
                <option th:each="topic : ${topics}"
                        th:value="${topic.getId()}"
                        th:text="${topic.getName()}">1
                </option>
            </select>
            <br>
            <br>
            <label>Course Description</label><br>
            <input class="description-box" type="text" th:field="*{description}"><br>
            <label class="errors" th:errors="*{description}"></label>
            <br>
            <br>
            <label> Course Starting Date </label><br>
            <input type="date" th:field="*{startingDate}"/><br>
            <label class="errors" th:errors="*{startingDate}"></label>
            <br>
            <br>
            <label> Course Expire Date </label><br>
            <input type="date" th:field="*{expireDate}"/><br>
            <label class="errors" th:errors="*{expireDate}"></label>
            <br>
            <br>
            <label>Course Max Students</label><br>
            <input type="number" th:field="*{maxStudents}"><br>
            <label class="errors" th:errors="*{maxStudents}"></label>
            <br>
            <br>
            <label>Course Price</label><br>
            <input type="number" th:field="*{price}"><br>
            <label class="errors" th:errors="*{price}"></label>
            <br>
            <br>
            <div>
                <label>Course Background Picture</label><br>
                <input type="file" name="file" class="upload-box"><br>
                <label class="errors" th:errors="*{picture}"></label>
            </div>
            <br>
            <br>
            <label>Course Intro Video</label><br>
            <input type="text" th:field="*{video}"><br>
            <label class="errors" th:errors="*{video}"></label>
            <br>
            <br>
            <label> Upload Your Course Online </label><br>
            <select th:field="*{visible}">
                <option class="orange-background" th:value="0" value="0">No, still not ready</option>
                <option class="orange-background" th:value="1" value="1">Ok, its ready</option>
            </select><br>
            <label class="errors" th:errors="*{visible}"></label>
            <br>
            <br>
            <input class="download-btn" type="submit" value="Save"/>
            <br>
            <br>
        </div>
    </form>
</header>

</body>

</html>