<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/course-dashboard.css" th:href="@{/course-dashboard.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <div class="intro">
        <h2 class="title">My courses</h2>
    </div>
    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="cell-title"> Course</div>
                <div class="cell-title"> Topic</div>
                <div class="cell-title"> Starting date</div>
                <div class="cell-title"> Expire date</div>
                <div class="cell-title"> Grade</div>
                <div class="cell-title"> Lectures</div>
            </div>
            <div class="rowGroup" th:each="course : ${courses}">
                <div class="cell"><a th:text="${course.title}" th:href="@{|/courses/${course.id}|}">Update</a></div>
                <div class="cell" th:text="${course.topic.name}"> 1</div>
                <div class="cell" th:text="${course.startingDate}"> 1</div>
                <div class="cell" th:text="${course.expireDate}"> 1</div>
                <div class="cell" th:text="${grades[__${course.id}__]}"></div>
                <div class="cell"><a th:href="@{/courses/{courseId}/lectures(courseId=${course.id})}">Lectures</a></div>
            </div>
        </div>
    </div>

</header>

</body>
</html>