<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/not-found.css" th:href="@{/not-found.css}" rel="stylesheet"/>
    <!--        <link href="../static/secondary.css" th:href="@{/secondary.css}" rel="stylesheet"/>-->
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">

</head>
<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>

    <div class="background-not-found-img">
        <section class="intro" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
            <h1 class="title"> Whooooops! <br><p class="text-color-chefmeup" th:text="${httpStatus}">4xx - Status code</p></h1>
            <h1 class="text-medium" th:text="${message}"> Error message </h1>
            <!--        <h1 class="summary" th:text="${exception}"> Exception type </h1>-->
            <h1 class="text-small">Chefs might have lost this receipt!<br>
            Please, try again! :)</h1>
            <!--        <h1 class="summary">The page you are looking for cannot be found!</h1>-->
            <!--        <h1 class="summary" th:text="${httpStatus}"> Status code </h1>-->

        </section>

        <form th:action="@{/}">
            <div class="bodyRegister">
                <div class="home-btn">
                    <input href="#" type="submit" value="Go Back Home"> </input>
                </div>
            </div>
        </form>
    </div>

</header>

</body>
</html>