<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<header class="navigation-bar">
    <div class="fullscreen-video-wrap">
        <video loop th:src="@{/videos/chefmeup-home-video.mp4}" src="../static/videos/chefmeup-home-video.mp4#t=2.7,5"
               autoplay muted></video>
    </div>
    <div class="navigation-bar-overlay">
        <div th:fragment="nav-bar">
            <div class="navigation-bar-content">
                <div class="logo">
                    <a href="/"><img th:src="@{/images/chefmeup-logo.png}" src="../static/images/chefmeup-logo.png" alt=""></a>
                </div>
                <div sec:authorize="isAuthenticated()" class="logged_user">
                    <h3 style="font-weight: 550">Bon appetit, </h3>
                    <a href="#" th:href="@{/users/profile}" th:text="${#authentication.getName()}"></a>
                    <form th:action="@{/logout}" method="post" style="text-align: center">
                        <input style="font-weight: 550" type="submit" value="Sign Out"/>
                    </form>
                </div>
                <div class="navigation-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#" th:href="@{/courses}" style="color: #00ffc4">Courses</a></li>
                        <li><a href="#" th:href="@{/contact}">Contact</a></li>
                        <li sec:authorize="hasAuthority('ROLE_TEACHER')"><a href="#" th:href="@{/users}">Users</a></li>
                        <li sec:authorize="hasAuthority('ROLE_STUDENT')"><a href="#" th:href="@{/courses/enrolled}">My courses</a></li>
                        <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="#" th:href="@{/users/requests}">Requests</a></li>
                        <br sec:authorize="hasAuthority('ROLE_TEACHER')">
                        <li sec:authorize="hasAuthority('ROLE_TEACHER')"><a th:href="@{/courses/new}">Create course</a>
                        </li>
                        <li sec:authorize="hasAuthority('ROLE_TEACHER')"><a th:href="@{/lectures/new}">Create
                            lecture</a>
                        </li>
                        <li sec:authorize="hasAuthority('ROLE_TEACHER')"><a th:href="@{/lectures/students/assignments}">Assignments</a>
                        </li>
                        <li sec:authorize="hasAuthority('ROLE_TEACHER')"><a th:href="@{/courses/dashboard}">Course
                            dashboard</a></li>
                        <li sec:authorize="hasAuthority('ROLE_TEACHER')"><a th:href="@{/lectures/dashboard}">Lecture
                            dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-bar-text">
            <h2>Let's cook </h2>
            <h3>something yummy</h3>
            <a sec:authorize="anonymous" th:href="@{/login}" href="#">chef me up</a>
        </div>
    </div>
</header>
</body>

</html>