<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link href="../static/course-form-test.css" th:href="@{/course-form-test.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<header th:fragment="nav-bar" class="nav-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <div th:fragment="lecture-form">
        <div class="bodyRegister">
            <div class="container">
                <div class="title">Lecture</div>
                <div class="content">
                    <form th:fragment="lecture-formx" th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${lecture}" method="post" enctype="multipart/form-data">
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Lecture title</span>
                                <input type="text" th:field="*{title}" placeholder="Enter lecture title">
                                <label class="text-errors" th:errors="*{title}"></label>
                            </div>
                            <div class="input-box">
                                <span class="details">Lecture course</span>
                                <select class="select-btn" th:field="*{courseId}">
                                    <option th:each="course : ${draftCourses}"
                                            th:value="${course.getId()}"
                                            th:text="${course.getTitle()}">1
                                    </option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">Lecture description</span>
                                <textarea type="text" th:field="*{description}"
                                          placeholder="Enter course description"></textarea>
                                <label class="text-errors" th:errors="*{description}"></label>
                            </div>

                            <div class="input-box">
                                <span class="details">Lecture video</span>
                                <input type="text" th:field="*{video}" placeholder="Enter youtube url">
                                <label class="text-errors" th:errors="*{video}"></label>
                            </div>
                            <select th:field="*{assigment}" style="display: none">
                                <option th:value="none" value="0">No, still not ready</option>
                            </select>
                            <div class="input-box-upload">
                                <span class="details">Upload lecture assignment</span>
                                <input multiple class="choose" type="file" name="file">
                                <label class="errors" th:errors="*{assigment}"></label>
                            </div>
                            <div class="input-box-upload">
                                <span class="details">Upload lecture background picture</span>
                                <input multiple class="choose" type="file" name="picture">
                                <div class="button">
                                    <input type="submit" value="Cook!">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</header>


</body>

</html>