<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/secondary.css" th:href="@{/secondary.css}" rel="stylesheet"/>
    <link href="../static/lecture.css" th:href="@{/lecture.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<header class="navigation-bar-course">
    <div th:replace="index.html :: nav-bar"></div>

    <section class="course-intro">
        <div class="image-title">
            <img data-image="black" src="../static/images/cupcake.jpg"
                 th:src="@{/media/lecturebackground/{pic}(pic=${lecture.getPicture()})}" alt="" width="500"
                 height="500">
        </div>
        <div class="image-overlay"></div>
        <h1 class="title" th:text="${lecture.getTitle()}">Courses</h1>
        <h1 class="summary" th:text="${lecture.getDescription()}">Lorem Ipsnknk. It has survived not only five
            centuries,
            but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.</h1>
    </section>
</header>
<!--VIDEO-->
<iframe class="video" th:src="${lecture.getVideo()}" src="https://www.youtube.com/embed/t4vKPhjcMZg"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
<!--ASSIGNMENT-->
<div style="text-align: center">
    <a class="download-btn" th:href="@{|/lectures/${lecture.getId()}/download/assignment|}">DOWNLOAD<br>ASSIGNMENT</a>
</div>
<form th:action="@{|/lectures/${lecture.getId()}/submit/assignment|}" method="post" enctype="multipart/form-data">
    <div style="text-align: center">
        <input type="file" name="file" class="upload-box">
        <br>
        <button type="submit" class="upload-btn">SUBMIT<br>ASSIGNMENT</button>
        <div th:if="${success}">
            <h5 th:text="${success}"></h5>
        </div>
    </div>
</form>

</body>

</html>