<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/lecture-dashboard.css" th:href="@{/lecture-dashboard.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <div class="intro">
        <h2 class="title">Lecture dashboard</h2>
    </div>
    <div style="text-align: center">
        <form method="post" th:action="@{/lectures/dashboard/search}" th:object="${lectureSearchDto}">
            <input style="text-align: center;border: 1px solid;" type="text" placeholder="Search by course"
                   th:field="*{course}">
            <select style="text-align: center" th:field="*{topic}">
                <option selected value="">Topic</option>
                <option th:each="topic:${topics}" th:value="${topic.id}" th:text="${topic.name}">Topic</option>
            </select>
            <select style="text-align: center" th:field="*{status}">
                <option selected value="">Status</option>
                <option th:value="true" th:text="Online">Online</option>
                <option th:value="false" th:text="Draft">Draft</option>
            </select>
            <select style="text-align: center" th:field="*{sort}">
                <option value="id asc">Order by</option>
                <option value="title asc">Title asc</option>
                <option value="title desc">Title desc</option>
                <option value="course.title asc">Course title asc</option>
                <option value="course.title desc">Course title desc</option>
            </select>
            <button type="submit"
                    style="border: 1px solid #48fd7a;background: #48fd7a;vertical-align: middle;width: 50px;cursor: pointer">
                Search
            </button>
        </form>
    </div>
    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="cell-title"> Course</div>
                <div class="cell-title"> Topic</div>
                <div class="cell-title"> Lecture</div>
                <div class="cell-title"> Status</div>
                <div class="cell-title"> Modify</div>
            </div>
            <div class="rowGroup" th:each="lecture : ${lectures}">
                <div class="cell"><a th:text="${lecture.course.title}" th:href="@{|/courses/${lecture.course.id}|}">Update</a>
                </div>
                <div class="cell" th:text="${lecture.course.topic.name}"> 1</div>
                <div class="cell"><a th:text="${lecture.title}"
                                                                th:href="@{|/lectures/${lecture.id}|}">Update</a>
                </div>
                <div class="cell" th:if="${lecture.course.visible}" th:text="Online" style="color: #00ab55;"> 1</div>
                <div class="cell" th:unless="${lecture.course.visible}" th:text="Draft" style="color: darkorange;"> 1
                </div>
                <div class="cell"><a th:unless="${lecture.course.visible}"
                                     th:href="@{|/lectures/${lecture.id}/update|}">Update</a></div>
            </div>
        </div>
    </div>

</header>

</body>
</html>