<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/login.css" th:href="@{/login.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">

</head>

<body>

<header class="nav-bar">
    <div th:replace="index.html :: nav-bar"></div>
</header>

<div class="bodyRegister">
    <div class="container">
        <div class="title">Log In</div>
        <div class="content">
            <form name='f' action="login" method='POST'>
                <div class="user-details">
                    <br>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type='text' name='username' value='' placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type='password' name='password' placeholder="Enter your password" required>
                        <label class="text-errors" th:if="${errorMessage}" th:text="${errorMessage}"> Provide a valid
                            password </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Let's Go">
                </div>
                <div class="register">
                    <p> You don't have an account? <br> </p>
                    <a th:href="@{/users/register}"> REGISTER </a>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>