<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/rating.css" th:href="@{/rating.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <script>
        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });
    </script>
</head>

<body>
<div th:fragment="rating" class="rating">
    <label>
        <input th:field="*{courseRating}" type="radio" name="stars" th:value=1/>
        <span class="icon">★</span>
    </label>
    <label>
        <input th:field="*{courseRating}" type="radio" name="stars" th:value=2/>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
    <label>
        <input th:field="*{courseRating}" type="radio" name="stars" th:value=3/>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
    <label>
        <input th:field="*{courseRating}" type="radio" name="stars" th:value=4/>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
    <label>
        <input th:field="*{courseRating}" type="radio" name="stars" th:value=5/>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
</div>
</body>
</html>