<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/course-dashboard.css" th:href="@{/course-dashboard.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>
    <div class="intro">
        <h2 class="title">My course lectures</h2>
    </div>
    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="cell-title"> Course</div>
                <div class="cell-title"> Lecture</div>
                <div class="cell-title"> Grade</div>
<!--                <div class="cell-title"> Expire date</div>-->
<!--                <div class="cell-title"> Grade</div>-->
            </div>
            <div class="rowGroup" th:each="lecture : ${lectures}">
                <div class="cell"><a th:text="${lecture.lecture.course.title}" th:href="@{|/courses/${lecture.lecture.course.id}|}">Update</a></div>
                <div class="cell" > <a th:text="${lecture.lecture.title}" th:href="@{|/lectures/${lecture.lecture.id}|}"></a></div>
                <div class="cell" th:text="${lecture.grade}"> 1</div>
<!--                <div class="cell" th:text="${course.expireDate}"> 1</div>-->
<!--                <div class="cell" style="font-size: 16px;font-weight: bold"-->
<!--                     th:text="${courseRatings[__${course.id}__]}"></div>-->
            </div>
        </div>
    </div>

</header>

</body>
</html>