<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/users.css" th:href="@{/users.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
</head>

<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>

    <div class="intro">

        <h2 class="title">TEACHERS AWAITING APPROVAL</h2>

    </div>

    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="cell-title"> ID</div>
                <div class="cell-title"> Picture</div>
                <div class="cell-title"> First name</div>
                <div class="cell-title"> Last name</div>
                <div class="cell-title"> E-mail</div>
                <div class="cell-title"> Role</div>
            </div>
            <div href="#" class="rowGroup" th:each="user : ${users}">
                <a class="cell" th:href="@{/users/{userId}(userId=${user.getId()})}" th:text="${user.getId()}"> 1 </a>
                <div class="cell" style="width: 90px"><img class="rounded-circle" height="60px" data-image="black"
                                                           src="../static/images/cupcake.jpg"
                                                           th:src="@{/media/userpictures/{pic}(pic=${user.getPicture()})}"
                                                           alt=""></div>
                <div class="cell" th:text="${user.getFirstName()}">edi</div>
                <div class="cell" th:text="${user.getLastName()}">edi</div>
                <div class="cell" th:text="${user.getEmail()}">edi</div>
                <div class="cell" th:text="${user.getHighestRole()}">Student</div>

                <div class="cell cell-btn">
                <form method="post" th:action="@{/users/{userId}/request(userId=${user.getId()})}" >
                    <select style="display: none" th:field="*{request.requestApproved}">
                        <option selected value="true">Approve</option>
                    </select>
                    <button type="submit" class="cart-btn">Approve</button>
                </form>
                </div>

                <div class="cell cell-btn">
                <form method="post" th:action="@{/users/{userId}/request(userId=${user.getId()})}" >
                    <select style="display: none" th:field="*{request.requestApproved}">
                        <option selected value="false">Reject</option>
                    </select>
                    <button type="submit" class="cart-btn btn-background-color">Reject</button>
                </form>
                </div>

            </div>
        </div>
    </div>

</header>

</body>
</html>