<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/user-changePassword.css" th:href="@{/user-changePassword.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">

</head>
<body>

<header class="nav-bar">
    <div th:replace="index.html :: nav-bar"></div>
</header>

<div class="bodyRegister">
    <div class="container" >
        <div class="title">Change password</div>
        <div class="content">
            <form action="#" autocomplete="off" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${password}" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Your current password</span>
                        <input type="password" th:field="*{oldPassword}" placeholder="Enter your current password" required>
                        <label class="text-errors" th:errors="*{oldPassword}"> Provide a valid password </label>
                    </div>
                    <br>
                    <div class="input-box">
                        <span class="details">New Password</span>
                        <input type="password" th:field="*{password}" placeholder="Enter your new password" required>
                        <label class="text-errors" th:errors="*{password}"> Provide a valid password </label>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm New Password</span>
                        <input type="password" th:field="*{confirmPassword}" placeholder="Confirm your new password" required>
                        <label class="text-errors" th:errors="*{confirmPassword}"> Does not match your password </label>
                    </div>

                </div>
                <div class="button">
                    <input type="submit" value="Change It">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>