<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/user-register.css" th:href="@{/user-register.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">

</head>
<body>

<header class="nav-bar">
    <div th:replace="index.html :: nav-bar"></div>
</header>

<div class="bodyRegister">
    <div class="container">
        <div class="title">Register form</div>
        <div class="content">
            <form action="#" autocomplete="off" th:action="@{__${#httpServletRequest.requestURI}__}"
                  method="post" enctype="multipart/form-data">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" th:field="*{register.firstName}" placeholder="Enter your first name" required>
                        <label class="text-errors" th:errors="*{register.firstName}"> First name should be between 3 and 15 symbols </label>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" th:field="*{register.lastName}" placeholder="Enter your lastname" required>
                        <label class="text-errors" th:errors="*{register.lastName}"> Last name should be between 3 and 15 symbols </label>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" th:field="*{register.email}" placeholder="Enter your email" required>
                        <label class="text-errors" th:errors="*{register.email}"> Provide a valid email </label>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" th:field="*{register.phone}" placeholder="Enter your number" required>
                        <label class="text-errors" th:errors="*{register.phone}"> Provide a valid phone number </label>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" th:field="*{password.password}" placeholder="Enter your password" required>
                        <label class="text-errors" th:errors="*{password.password}"> Provide a valid password </label>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" th:field="*{password.confirmPassword}" placeholder="Confirm your password" required>
                        <label class="text-errors" th:errors="*{password.confirmPassword}"> Does not match your password </label>
                    </div>

                    <div class="input-box">
                        <span class="details">Where are you from ?</span>
                        <select class="select-btn" th:field="*{register.countryId}">
                            <option th:each="country : ${countries}"
                                    th:value="${country.getId()}"
                                    th:text="${country.getName()}"> Choose your country
                            </option>
                        </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Do you want to sign up for a chef?</span>
                        <select class="select-btn" th:field="*{register.teacherRequest}">
                            <option th:value="false">No</option>
                            <option th:value="true">Yes</option>
                        </select>
                    </div>

                    <div class="input-box-upload">
                        <span class="details">Upload your profile picture:</span>
                        <input multiple class="choose" type="file" name="file">
                    </div>

                </div>
                <!--                    <div class="gender-details">
                                        <input type="radio" name="gender" id="dot-1">
                                        <input type="radio" name="gender" id="dot-2">
                                        <span class="gender-title">I want to become a tutor</span>
                                        <div class="category">
                                            <label for="dot-1">
                                                <span class="dot one"></span>
                                                <span class="gender">Yes</span>
                                            </label>
                                            <label for="dot-2">
                                                <span class="dot two"></span>
                                                <span class="gender">No</span>
                                            </label>
                                        </div>
                                    </div>-->
                <div class="button">
                    <input type="submit" value="Let Me In">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>