<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/user-profile.css" th:href="@{/user-profile.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
</head>
<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>

    <div class="intro">

        <h2 class="title">My profile</h2>

    </div>

    <form th:fragment="user-form" action="#"
          th:action="@{__${#httpServletRequest.requestURI}__}"
          th:object="${user}" method="post" enctype="multipart/form-data">
        <div class="container rounded">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-4">
                        <!--                    <img class="rounded-circle" width="200px"-->
                        <!--                         src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">-->
                        <img class="rounded-circle" width="200px" data-image="black" src="../static/images/cupcake.jpg"
                             th:src="@{/media/userpictures/{pic}(pic=${user.getPicture()})}" alt="">
                        <span class="font-weight-bold text-color-black"
                              th:text="${user.getFirstName() + ' ' + user.getLastName()}">Name</span>
                        <span class="text-black-50" th:text="${highestRole}">Role</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center">
                        <span class="text-color-black">Change your profile picture:</span>
                        <input multiple class="choose text-color-black-small" type="file" name="file">
                    </div>
                    <div class="mt-4 text-center">
                        <a class="change-pass-btn" type="button" href="#"
                                th:href="@{/users/{userId}/password(userId=${userId})}">Change Password</a>
                    </div>
                </div>

                <div class="col-md-6 border-right">
                    <div class="p-3 py-5">
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">First Name</label>
                                <input type="text" class="form-control" th:field="*{firstName}" value="">
                                <label class="text-errors" th:errors="*{firstName}"> First name should be between 3 and 15 symbols </label>
                            </div>
                            <div class="col-md-6"><label class="labels">Last Name</label>
                                <input type="text" class="form-control" th:field="*{lastName}" value="">
                                <label class="text-errors" th:errors="*{lastName}"> Last name should be between 3 and 15 symbols </label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Email</label>
                                <input type="text" class="form-control" th:field="*{email}"
                                       th:value="${user.getEmail()}" value="">
                                <label class="text-errors" th:errors="*{email}"> Provide a valid email </label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" th:field="*{phone}" value="">
                                <label class="text-errors" th:errors="*{phone}"> Provide a valid phone number </label>
                            </div>
                            <div class="col-md-6"><label class="labels">Country</label>
                                <select class="select-btn-big" th:field="*{countryId}">
                                    <option th:each="country : ${countries}"
                                            th:value="${country.getId()}"
                                            th:text="${country.getName()}"> Choose your country
                                    </option>
                                </select>
                            </div>
                        </div>

<!--                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Password</label>
                                <input type="text" class="form-control" th:field="*{password}" value="">
                            </div>
                            <div class="col-md-6"><label class="labels">Confirm Password</label>
                                <input type="text" class="form-control" th:field="*{confirmPassword}" value="">
                            </div>

                        </div>-->

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <label class="labels">Do you want to sign up for a chef?</label>
                                <select class="select-btn" th:field="*{teacherRequest}">
                                    <option th:value="false">No</option>
                                    <option th:value="true">Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <button class="cart-btn" type="submit">Save Profile</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    </div>
    </div>
</header>

</body>
</html>