<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>ChefMeUp</title>
    <link href="../static/users.css" th:href="@{/users.css}" rel="stylesheet"/>
    <link href="../static/nav-bar.css" th:href="@{/nav-bar.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"-->
    <!--          rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
</head>

<body>
<header class="navigation-bar">
    <div th:replace="index.html :: nav-bar"></div>

    <div class="intro">

        <h2 class="title">All users</h2>

    </div>

    <!--SEARCH-->
    <div class="search-bar">
        <form method="post" th:action="@{/users/search}" th:object="${userSearch}">
            <input type="text" placeholder="Search by name / email" th:field="*{nameOrEmail}">
            <select th:field="*{orderBy}">
                <option value="">Order by</option>
                <option value="first_name asc">Name asc</option>
                <option value="first_name desc">Name desc</option>
            </select>
            <button type="submit" class="cart-btn">Search</button>
        </form>
    </div>

    <div class="container">
        <div class="table">
            <div class="table-header">
                <div class="cell-title"> ID</div>
                <div class="cell-title"> Picture</div>
                <div class="cell-title"> First name</div>
                <div class="cell-title"> Last name</div>
                <div class="cell-title"> E-mail</div>
                <div class="cell-title"> Role</div>
            </div>
            <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" class="rowGroup" th:each="user : ${users}">
                <div class="cell" th:text="${user.getId()}"> 1</div>
                <div class="cell" style="width: 90px"><img class="rounded-circle" height="60px" data-image="black"
                                                           src="../static/images/cupcake.jpg"
                                                           th:src="@{/media/userpictures/{pic}(pic=${user.getPicture()})}"
                                                           alt=""></div>
                <div class="cell" th:text="${user.getFirstName()}">edi</div>
                <div class="cell" th:text="${user.getLastName()}">edi</div>
                <div class="cell" th:text="${user.getEmail()}">edi</div>
                <div class="cell" th:text="${user.getHighestRole()}">Student</div>
                <!--            <div class="cell" th:text="${user.getRoles()}">edi</div>-->
            </a>
        </div>
    </div>

</header>

</body>
</html>